body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
  }
  
  header {
    background-color:var(--secondary-color);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

  #task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#task-list li button.edit-task-btn {
    margin-left: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
}

#task-list li button.edit-task-btn:hover {
    background-color: #45a049;
}

  
  button {
    padding: 10px 15px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
   transition: scale(1.2);
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;

  }
